body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
div.carouselExampleFade
{

}
img#Picture1{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px 150px;
}
img#Picture2{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px 150px;
}
img#Picture3{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px 150px;
}
h1 {
  text-align: center;
}

h1 {
  font-size: 5em;
}
h2{
  font-size: 1;
  text-align: center;
}
p#paragraph1{
  width: 50%;
  margin: 0 10vw 10vh 10vw;
  font-size: 0.85em;
  text-align: center;
}
p#paragraph2{
  width: 50%;
  margin: 0 10vw 10vh 10vw;
  font-size: 0.85em;
  text-align: center;
}
p#paragraph3{
width: 50%;
margin: 0 10vw 10vh 10vw;
font-size: 0.85em;
text-align: center;
}
p#paragraph4{
  width: 50%;
  margin: 0 10vw 10vh 10vw;
  font-size: 0.85em;
  text-align: center;
}
p#paragraph5{
  width: 50%;
  margin: 0 10vw 10vh 10vw;
  font-size: 0.85em;
  text-align: center;
}
p#paragraph6{
width: 50%;
margin: 0 10vw 10vh 10vw;
font-size: 0.85em;
text-align: center;
}
p#paragraph7{
  width: 50%;
  margin: 0 10vw 10vh 10vw;
  font-size: 0.85em;
  text-align: center;
}
p#paragraph8{
  width: 50%;
  margin: 0 10vw 10vh 10vw;
  font-size: 0.85em;
  text-align: center;
}
p#paragraph9{
width: 50%;
margin: 0 10vw 10vh 10vw;
font-size: 0.85em;
text-align: center;
}
p#paragraph10{
  width: 50%;
  margin: 0 10vw 10vh 10vw;
  font-size: 0.85em;
  text-align: center;
}
p#paragraph11{
width: 50%;
margin: 0 10vw 10vh 10vw;
font-size: 0.85em;
text-align: center;
}

img#Picture4{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 150px;
}
img#Picture5{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 150px;
}
img#Picture6{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 150px;
}
li {
  margin: 0 20px;
  transition: 0.6s ease;
}
img#Picture7{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 150px;
}
img#Picture8{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 150px;
}
img#Picture9{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 150px;
}
div#div1 {
  background-color: rgb(66,135,245);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#div2 {
  background-color: rgb(245,66,132);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#div3 {
  background-color: rgb(66, 245, 117);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#div4 {
  background-color: rgb(66, 245, 117);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#div5 {
  background-color: rgb(66, 245, 242);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#div6 {
  background-color: rgb(245, 66, 135);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#div7 {
  background-color: rgb(245, 66, 66);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#div8 {
  background-color: rgb(245, 66, 66);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#div9 {
  background-color: rgb(66, 245, 185);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#div10 {
  background-color: rgb(66, 172, 247);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#div11 {
  background-color: rgb(245,66,203);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 20px;
  transition: 0.6s ease;
}

li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}
